

header {
  font-size: 4.5rem;
  color: rgb(212, 12, 212);
  text-align: center;
  background-color: limegreen;
}

.upClicker {
  font-size: 4.5rem;
  margin: 0 auto;
  padding: 3rem;
  margin-left: 2rem;
}

.downClicker {
  font-size: 4.5rem;
  margin: 0 auto;
  padding: 3rem;
  margin-right: 2rem;
}

.counter {
  font-size: 4.5rem;
  margin-left: 35%;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background-color:rgb(247, 170, 28);
}

h4 {
  text-align: center;
}

body {
  background-color: peachpuff;
}
